@import "colors.scss";


// estilos main

main {

    background-color: $color3 !important;
}




// estilos carousel


.carousel-item {
    // height: 100% !important;
    width: 100%;

}

.williams-main__carousel--img {


    width: 100% !important;
    height: 85vh;
    object-fit: cover;
    filter: grayscale(0.25%);

}

.carousel-caption {

    text-align: left;
    bottom: 35px;
    font-size: 18px;
    opacity: 0.8;



    a {
        text-decoration: none;
        border-radius: 5px;
        font-size: 20px !important;
        color: $color4;
        border: 1px solid;
        padding: 5px;

    }

    a:hover {
        border: 1px solid $color1;
        color: $color1;
    }
}

@media(max-width:560px) {
    .carousel-caption {
        p {
            display: none;


        }
    }
}

@media(max-width:500px) {
    .williams-main__carousel--img {



        height: 52vh;



    }

}


@media(max-width:450px) {

    .carousel-caption {

        h4 {
            font-size: 21px !important;
        }
        h3{
            font-size: 25px!important;
        }



    }


}
@media(max-width:390px) {

    .carousel-caption {

       
        h3{
            font-size: 20px!important;

        }



    }


}

.williams-main__carousel--img:hover {
    transition: 1.5s;
    transform: scale(1.05);
    filter: grayscale(60%);
}

// fin estilos carousel 

// estilos car 

.williams-car {
    margin-top: 100px;
    margin-bottom: 100px;
    color: $color2;
    background-color: $color3;
}

.btn,
.btn-primary {
    background-color: $color5;
}

// fin estilos car

// estilos partners 
.williams-partners,
.card {
    background-color: $color3;
}

.card-body {
    background-color: $color3;

    color: $color2
}

.card text-center {
    border: none !important;
}

.williams-partners {

    h1,
    a {
        color: $color1 !important;
    }
}

// fin estilos partners 




// estilos drivers 
.williams-drivers {
    margin-bottom: 30px;
    margin-top: 100px;



}

#driver1 {
    background-image: url("../images/driver1.jpg");
    background-size: cover;
    height: 300px;
    color: $color2;

    p,
    h5 {
        margin-left: 10px;

    }


}

#driver2 {
    background-image: url("../images/driver2.jpg");
    background-size: cover;
    height: 300px;
    color: $color2;

    p,
    h5 {
        margin-left: 10px;
    }

}

@media (max-width:500px) {
    #driver1 {
        margin-bottom: 50px;

    }
}

// fin estilos drivers 